@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

html, body, #root { 
  width: 100%;
  height: 100%;
  background: #fefefa;
}

.br {
  border-radius: 1rem !important;
  padding: 0.5rem;
}

.color-blue {
  color: #00c4cc
}

.color-yellow {
  color: #ffbf69;
<<<<<<< HEAD
}

.bg-yellow {
  background-color: #ffbf69 !important;
=======
>>>>>>> 29a1b3353eee28ca4485727375553690ff42dd86
}