.home {
  background: #ffffff;  /* fallback for old browsers */

  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}

.home__text {
  font-family: 'EB Garamond', serif;

}

@keyframes rotatelogo {
  from { transform: rotateY(0deg) rotateX(0deg) perspective(400px);}
  to { transform: rotateY(22deg) rotateX(30deg) perspective(200px);}
}

.homelogo {
  animation-name: rotatelogo;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.yellow-bar {
  position: absolute;
  height: 1.6rem;
  width: 100%;
  transform: rotateZ(-25deg);
  background-color: #ffbf69;
  transform-origin: 100% 0;
  right: -10%;
  bottom: 30%;
}

.blue-bar {
  position: absolute;
  height: 1.6rem;
  width: 100%;
  transform: rotateZ(-25deg);
  background-color: #00c4cc;
  transform-origin: 100% 0;
  right: -10%;
  bottom: 4%;
} 

.home-text {
  font-size: 4rem;
  color: #ffbf69;
}

.name {
  color: #0B4F6C
}